/* LOADING PAGE */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(182, 211, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}
#progress-bar-container {
  width: 50%; /* Đặt chiều rộng của container */
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}
#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #3498db;
  transition: width 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
}
#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.5) translate(-50%, -50%);
  }
  to {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%);
  }
}

/* LOADING PAGE */
/* Thêm vào phần CSS của bạn */
/* Thêm vào phần CSS của bạn */
.instructions-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open {
  overflow: hidden;
}


.instructions-container2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content2 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open2 {
  overflow: hidden;
}

.instructions-container3 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content3 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open3 {
  overflow: hidden;
}

.instructions-container4 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content4 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open4 {
  overflow: hidden;
}
.instructions-container5 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content5 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open5 {
  overflow: hidden;
}

.instructions-container6 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content6 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open6 {
  overflow: hidden;
}

.instructions-container7 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content7 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open7 {
  overflow: hidden;
}

.instructions-container8 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content8 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open8 {
  overflow: hidden;
}
.instructions-container9 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content9 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open9 {
  overflow: hidden;
}
.instructions-container10 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content10 {
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open10 {
  overflow: hidden;
}

.instructions-container11 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff9900 25%, transparent 25%, transparent 50%, #ff9900 50%, #ff9900 75%, transparent 75%, transparent);
  background-color: #3498db; /* Màu xanh lam */
  padding: 20px;
  color: #000; /* Màu chữ */
  border: 5px solid #ff9900; /* Màu border và độ rộng */
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}


.instructions-content11{
  text-align: center;
}

/* Tối lại background khi bảng xuất hiện */
body.instruction-open11 {
  overflow: hidden;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}



.close-button-vinhdanh {
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 2%;
  top: 2%;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
html{
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
/* CSS để trung tâm hóa bảng và làm mờ nền */
#instruction-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Làm mờ nền */
  justify-content: center;
  align-items: center;
}

#instruction-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

  
 
  
  #image-character-game1 {
    position: absolute;
    width: 250px;
    top: 53%;
    left:50%;
    transform: translateX(-50%);
  }

  
 
  #game-container-1 {
    text-align: center;
    display: grid;
    height: 100vh;
    
    /* background: #c0e8d5; */
  }

  #question {
    font-size: 18px;
    margin-bottom: 20px;
    display: none;
  }

  #answers-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .answer {
    width: 150px;
    height: 50px;
    background-color: #f79419;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .answer:hover {
    background-color: #3de053;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }

  /* Thêm các style sau vào file CSS của bạn */

  /* Thêm các style sau vào file CSS của bạn */

/* Thêm style sau vào file CSS của bạn */
/* Container chính */
.container-bottom-rank{
 
}
.bi.bi-plus {
  width: 36px; /* Đặt kích thước mong muốn */
  height: 36px; /* Đặt kích thước mong muốn */
  
}

#scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 26px;
  position: fixed;
  right: 0;
  padding: 15px;
  border-radius: 10px;
  z-index: 3;
  top: 0.5em;
  background-color: #ffffff; /* Thêm màu nền */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng */
  width: 500px;
}

/* Header Bảng xếp hạng */
#scoreboard h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333; /* Đổi màu chữ */
}

/* Bảng xếp hạng */
#scoreboard {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
}

/* Entry Bảng xếp hạng */
.score-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.score-entry img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: contain;
}

/* Refresh button */


/* Player input container */
#player-input-container {
  display: none;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container-button-add-refresh{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
#player-name-input,
#player-avatar-input {
  
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

#add-player-button {
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

#add-player-button:hover {
  background-color: #45a049;
}

  .answer {
    text-indent: -9999px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 3px solid white;
  }
  .answer:active{
    outline: 3px solid rgb(231, 43, 10);
  }
  .answer:hover {
   transform: scale(1.05);
  }
  .answer img{
    object-fit:fill;
    width: 100%;
    height: 100%;
  }
 /* CSS cho lớp overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Màu đen với độ trong suốt 70% */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    max-width: 100%;
    max-height: 100%;
    width: 700px;
    height: 700px;
    margin-bottom: 80px;
  }
  
  .overlay button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50; /* Màu xanh lá cây */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Thêm hiệu ứng chúc mừng */
  @keyframes congratulations {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #result.congratulations {
    animation: congratulations 1s ease;
  }
  .overlay-text {
    position: absolute;
    top: 30%; /* Điều chỉnh vị trí theo nhu cầu của bạn */
    left: 50%;
    transform: translateX(-50%);
    color: red; /* Màu chữ */
    font-size: 30px; /* Kích thước chữ */
    font-weight: bold; /* Độ đậm chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Hiệu ứng đổ bóng chữ */
    z-index: 1; /* Chắc chắn rằng văn bản hiển thị trên video */
  }
  .main-question{
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
  }
  
  .question-image{
    position: absolute;
    bottom: 10%;
    left: 30%;
  }
  

  

.button--piyo{
  --main_color : #f4cf47 ;
  --sub_color1 : #f4e19c ;
  --sub_color2 : #ff8108 ;
  --base_color : #000 ;
  --border_radius1 : 60px 60px 40px 40px / 48px 48px 30px 30px ;
  --border_radius2 : 70px 70px 40px 40px / 48px 48px 30px 30px ;
  --border_radius3 : 40px 40px 40px 40px / 48px 48px 30px 30px ;
}
.button--hoo{
  --main_color : #4993ff ;
  --sub_color1 : #385082 ;
  --sub_color2 : #fff58f ;
  --sub_color3 : #fff ;
  --base_color : #FFF ;
  --border_radius1 : 50px 50px 50px 50px / 40px 40px 40px 40px ;
  --border_radius2 : 60px 60px 50px 50px / 40px 40px 40px 40px ;
  --border_radius3 : 40px 40px 50px 50px / 60px 60px 40px 40px ;
  --border_radius3 : 50px 50px 45px 45px / 40px 40px 60px 60px ;
}
.button--pen{
  --main_color : #4d4d4d ;
  --sub_color1 : #FFF ;
  --sub_color2 : #e9b800 ;
  --base_color : #e9b800 ;
  --border_radius1 : 60px 60px 40px 40px / 48px 48px 30px 30px ;
  --border_radius2 : 70px 70px 40px 40px / 48px 48px 30px 30px ;
  --border_radius3 : 40px 40px 40px 40px / 48px 48px 30px 30px ;
}
.button{
  position : relative ;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 280px ;
  height : 80px ;
  box-sizing : border-box ;
  text-decoration : none ;
  border : solid 3px #000 ;
  border-radius : 40px ;
  background : var(--main_color) ;
  font-family: 'Fredoka One', cursive;
}
.button::before{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  right : 20px ;
  bottom : 0 ;
  margin : auto 0 ;
  width : 24px ;
  height : 24px ;
  background : var(--base_color) ; 
  transition : all ease .2s ;
}
.button__wrapper{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  position : relative ;
  z-index : 1 ; 
  width : 100% ;
  height : 100% ;
  border-radius : 40px ;
  overflow : hidden ;
}
.button__wrapper::before,
.button__wrapper::after{
  transition : all .5s ease ;
}
.characterBox{
  position : absolute ;
  top : -54px ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
  display : flex ;
  justify-content : space-between ;
  align-items : flex-end ;
  width : 180px ;
  height : 56px ;
}
.button__text{
  position : relative ;
  z-index : 3 ;
  font-size : 32px ;
  letter-spacing : 4px ;
  color : var(--base_color) ;
  transition : all .3s ease ;
}
.character{
  position : relative ;
  width : 56px ;
  height : 36px ;
  box-sizing : border-box ;
  border : solid 3px #000 ;
  background : var(--main_color) ;
  border-radius : var(--border_radius1) ;
  animation : sleep 1s ease infinite alternate ;
}
.character::before{
  content : '' ;
  position : absolute ;
  top : -12px ;
  left : 22px ;
  width : 12px ;
  height : 12px ;
  background : #000 ;
  clip-path : path('M10.23,3.32c-3.54,.63-5.72,2.51-7.02,4.23-.33-1.58-.34-3.54,.93-5.12,.52-.65,.41-1.59-.24-2.11C3.24-.19,2.29-.08,1.77,.57c-3.82,4.77-.31,11.11-.13,11.42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0-.01-.02,2.49,.04,2.52,0,.1-.14,1.54-4.82,6.59-5.71,.82-.14,1.37-.92,1.22-1.74s-.94-1.36-1.75-1.21Z') ;
}
.character__face{
  position : absolute ;
  z-index : 2 ;
  top : 15px ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
  width : 12px ;
  height : 6px ;
  background : var(--sub_color2) ;
  border-radius : 50% 50% 50% 50% / 78% 78% 22% 22% ;
  transition : .2s ;
}
.character__face::before,
.character__face::after{
  content : '' ;
  position : absolute ;
  top : -4px ;
  width : 8px ;
  height : 2px ;
  border-radius : 4px ;
  background : #000 ;
}
.character__face::before{
  left : -5px ;
}
.character__face::after{
  right : -5px ;
}
.button--hoo .character__face::before,
.button--hoo .character__face::after{
  background : #fff ;
}
.button--hoo .charactor__face2{
  position : absolute ;
  z-index : 1 ;
  top : 8px ;
  left : 0 ;
  right : 0 ;
  margin : auto ;
  width : 14px ;
  height : 10px ;
  background : #385082 ;
  animation : face_hoo 1s ease infinite alternate ;
}
.button--hoo .charactor__face2::before,
.button--hoo .charactor__face2::after{
  content : '' ;
  position : absolute ;
  top : -1px ;
  width : 20px ;
  height : 10px ;
  box-sizing : border-box ;
  border-radius : 50% ;
  border : solid 3px #385082 ;
  background : #000 ;
}
.button--hoo .charactor__face2::before{
  left : -12px ;
}
.button--hoo .charactor__face2::after{
  right : -12px ;
}
.button--hoo .charactor__body{
  position : absolute ;
  bottom : 0 ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
  width : 0 ;
  height : 0 ;
  border-top : solid 2px #385082 ;
  border-left : solid 7px transparent ;
  border-right : solid 7px transparent ;
  border-bottom : solid 0 transparent ;
  animation : body_hoo 1s ease infinite alternate ;
}
.button--hoo .charactor__body::before,
.button--hoo .charactor__body::after{
  content : '' ;
  position : absolute ;
  top : -4px ;
  width : 0 ;
  height : 0 ;
  border-top : solid 2px #385082 ;
  border-left : solid 7px transparent ;
  border-right : solid 7px transparent ;
  border-bottom : solid 0 transparent ;
}
.button--hoo .charactor__body::before{
  left : -17px ;
}
.button--hoo .charactor__body::after{
  right : -17px ;
}

.button--pen .charactor__face2{
  position : absolute ;
  z-index : 1 ;
  bottom : 0 ;
  left : 0 ;
  right : 0 ;
  margin : auto ;
  width : 30px ;
  height : 10px ;
  border-radius : 50% ;
  background : #fff ;
  animation : face_pen 1s ease infinite alternate ;
}
.button--pen .charactor__face2::before,
.button--pen .charactor__face2::after{
  content : '' ;
  position : absolute ;
  top : -8px ;
  width : 17px ;
  height : 10px ;
  border-radius : 50% ;
  background : #fff ;
}
.button--pen .charactor__face2::before{
  left : -4px ;
}
.button--pen .charactor__face2::after{
  right : -4px ;
}

.button--piyo::before{
  clip-path : path('M24,12.02c0-1.09-.75-1.71-.81-1.77L11.17,.45c-.91-.74-2.21-.56-2.91,.42-.69,.97-.52,2.37,.39,3.11l7.12,5.81-13.7-.02h0C.93,9.77,0,10.76,0,11.99c0,1.23,.93,2.22,2.07,2.22l13.7,.02-7.13,5.78c-.91,.74-1.09,2.13-.4,3.11,.41,.58,1.03,.88,1.65,.88,.44,0,.88-.15,1.25-.45l12.04-9.76c.07-.06,.82-.67,.82-1.77Z') ;
}
.button--hoo::before{
  clip-path : path('M21.93,9.8h-3.33S11.5,.79,11.5,.79c-.74-.94-2.05-1.05-2.92-.26-.88,.79-.99,2.19-.25,3.13l4.84,6.13-11.09-.02C.95,9.73,0,10.76,0,11.99c0,1.23,.93,2.22,2.07,2.22l11.09,.02-4.86,6.12c-.74,.93-.63,2.33,.24,3.13,.39,.35,.87,.53,1.34,.53,.59,0,1.17-.27,1.58-.78l7.13-8.99h3.32s0,0,0,0c1.14,0,2.07-.99,2.07-2.22,0-1.23-.93-2.22-2.07-2.22Z') ;
}
.button--pen::before{
  clip-path : path('M23.36,10.63L6.18,.13c-.93-.57-1.85,.81-1.39,2.06l1.44,3.91c.3,.81,.01,1.81-.6,2.1L.72,10.58c-.96,.47-.96,2.37,0,2.83l4.91,2.38c.62,.3,.9,1.29,.6,2.1l-1.44,3.91c-.46,1.26,.46,2.63,1.39,2.06L23.36,13.37c.86-.53,.86-2.22,0-2.75Z') ;
}
.button--piyo .button__wrapper::before,
.button--piyo .button__wrapper::after{
  content : '' ;
  position : absolute ;
  bottom : 0 ;
  width : 130px ;
  height : 38px ;
  background : var(--sub_color1) ;
  clip-path : path('M13.77,37.35L.25,16.6c-.87-1.33,.69-2.91,2-2.02l12.67,8.59c.81,.55,1.91,.14,2.18-.81l2.62-9.33c.39-1.4,2.34-1.42,2.76-.02l3.6,11.99c.33,1.11,1.74,1.4,2.47,.52L49.38,.52c.87-1.04,2.53-.42,2.53,.95V23.7c0,1.13,1.2,1.83,2.16,1.26l12.75-7.51c.85-.5,1.94,0,2.13,.98l1.5,7.6c.2,1.03,1.37,1.51,2.22,.92l17.74-12.3c1.09-.75,2.52,.25,2.21,1.55l-2.44,10.2c-.26,1.09,.74,2.06,1.8,1.75l30.8-9.04c1.37-.4,2.42,1.26,1.49,2.36l-9.07,10.66c-.83,.98-.1,2.49,1.17,2.42l12.12-.68c1.6-.09,2.12,2.15,.65,2.8l-2.73,1.21c-.18,.08-.38,.12-.58,.12H14.97c-.48,0-.93-.25-1.2-.65Z') ;
}
.button--piyo .button__wrapper::before{
  left : 0 ;
}
.button--piyo .button__wrapper::after{
  right : 0 ;
  transform : rotateY(180deg) ;
}
.button--hoo .button__wrapper::before,
.button--hoo .button__wrapper::after{
  content : '' ;
  position : absolute ;
  width : 80px ;
  height : 100px ;
  background : var(--sub_color1) ;
  clip-path : path('M75.96,41.27l-42.76,11.17V0H0V100H33.2v-28.75l45.07-23.97c3.38-1.8,1.39-6.98-2.31-6.01Z') ;
}
.button--hoo .button__wrapper::before{
  left : 6px ;
  bottom : 0 ;
}
.button--hoo .button__wrapper::after{
  right : 8px ;
  bottom : -10px ;
  transform : rotateY(180deg) ;
}
.button--pen .button__wrapper::before,
.button--pen .button__wrapper::after{
  content : '' ;
  position : absolute ;
  width : 110px ;
  height : 60px ;
  background : var(--sub_color1) ;
  clip-path : path('M9.12,14.14L43.15,.5c1.61-.86,3.57-.59,4.9,.68l19.55,14.31c.42,.4,.76,.89,.99,1.42l3.45,13.09c.89,2.06,3.18,3.09,5.28,2.37l11.76-4.86c1.56-.54,3.29-.11,4.43,1.1l11.93,12.39c.48,.51,.84,1.12,1.03,1.8l3.35,11.62c.8,2.79-1.25,5.58-4.1,5.58H4.27c-2.71,0-4.73-2.54-4.18-5.24L6.92,17.11c.26-1.28,1.07-2.37,2.2-2.97Z') ;
}
.button--pen .button__wrapper::before{
  left : -16px ;
  bottom : -10px ;
}
.button--pen .button__wrapper::after{
  right : -8px ;
  bottom : -20px ;
  transform : rotateY(180deg) ;
}
.button:hover .button__wrapper::before{
  transform : translateX(-12px) ;
}
.button:hover .button__wrapper::after{
  transform : rotateY(180deg) translateX(-12px) ;
}
.button:hover .button__text{
  letter-spacing : 6px ;
}
.button:hover::before{
  right : 14px ;
}
.button:hover .wakeup{
  animation : wakeup .2s ease ;
  animation-fill-mode : forwards ;
}
.button:hover .wakeup .character__face{
  top : 20px ;
}
.button:hover .wakeup .character__face::before,
.button:hover .wakeup .character__face::after{
  animation : eye 5s linear infinite ;
}
.button:hover .wakeup:nth-child(2) .character__face::before,
.button:hover .wakeup:nth-child(2) .character__face::after{
  animation : eye_2 5s linear infinite ;
}
.button--hoo:hover .wakeup .charactor__face2::before,
.button--hoo:hover .wakeup .charactor__face2::after{
  height : 20px ;
}
.button--hoo:hover .wakeup .charactor__body{
  animation : body_hoo_wakeup .2s ease ;
  animation-fill-mode : forwards ;
  border-top : solid 6px #385082 ;
}
.button--hoo:hover .wakeup .charactor__body::before,
.button--hoo:hover .wakeup .charactor__body::after{
  top : -12px ;
  border-top : solid 5px #385082 ;
}
.button--pen:hover .wakeup .charactor__face2{
  animation : face_pen_wakeup .2s ease ;
  animation-fill-mode : forwards ;
}
.button--pen:hover .wakeup .charactor__face2::before,
.button--pen:hover .wakeup .charactor__face2::after{
  top : -12px ;
  height : 18px ;
}
@keyframes sleep{
  0%  {
      height : 36px ;
      border-radius : var(--border_radius1) ;
  }
  100%{
      height : 32px ;
      border-radius : var(--border_radius2) ;
  }
}
@keyframes wakeup{
  0%  {
      height : 32px ;
      border-radius : var(--border_radius2) ;
  }
  100%{
      height : 56px ;
      border-radius : var(--border_radius3) ;
  }
}
@keyframes eye {
  0%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  30%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  32%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
  }
  34%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  70%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  72%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
  }
  74%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  76%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
  }
  78%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  100%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
}
@keyframes eye_2 {
  0%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  10%{
      transform : translateX(0);
  }
  12%{
      transform : translateX(3px);
  }
  20%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  22%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
  }
  24%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  25%{
      transform : translateX(3px);
  }
  27%{
      transform : translateX(0);
  }
  74%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
      transform : translateX(0);
  }
  76%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
      transform : translateX(3px);
  }
  78%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  80%{
      top : -4px ;
      width : 8px ;
      height : 2px ;
  }
  82%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
  }
  85%{
      transform : translateX(3px);
  }
  87%{
      transform : translateX(0);
  }
  100%{
      top : -6px ;
      width : 6px ;
      height : 6px ;
      transform : translateX(0);
  }
}
@keyframes body_hoo{
  0%  {
      bottom : 2px ;
  }
  100%{
      bottom : 0 ;
  }
}
@keyframes body_hoo_wakeup{
  0%  {
      bottom : 2px ;
  }
  100%{
      bottom : 6px ;
  }
}
@keyframes face_pen{
  0%  {
      height : 14px ;
  }
  100%{
      height : 10px ;
  }
}
@keyframes face_pen_wakeup{
  0%  {
      height : 14px ;
  }
  100%{
      height : 28px ;
  }
}







/* 本体と関係ないスタイル */
.container-button-nextgame{
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
  position: absolute;
  bottom: 10px;
  right: 10px;

}
.button:not(:last-child){
  margin-bottom : 80px ;
}

/* game 2 */
.controls2 button{
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 7em;
  padding: 0px;
}
.fa-question{
  border: 3px solid #FFFF00;
  color: #FFFF00;
  font-size: 22px;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  padding: 14px 20px;
  background: #001f3f;
}
.container-game2{
  height: 100vh;
  width: 100%;
  

  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.game {
  position: absolute;
  left: 20%;
  top: 10%;
}
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.disabled {
  color: #757575;
}
.stats {
  color: #FFF;
  font-size: 14pt;
  font-weight: bold;
}
.board-container {
  position: relative;
}
.board,
.win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
  background: linear-gradient(135deg,  #03001e 0%,#7303c0 0%,#ec38bc 50%, #fdeff9 100%);
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}
.board {
  
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}
.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #282A3A;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}
.card-back img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 5px;
}
.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 28pt;
  user-select: none;
  text-align: center;
  line-height: 100px;
  background: #FDF8E6;
}
.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}
.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}
.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FDF8E6;
  transform: rotateY(180deg) rotateZ(50deg);
}
.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
  color: #282A3A;
}
.highlight {
  color: #7303c0;
}
#scoreboard-container {
  display: none;
  transition: transform 0.5s ease-in-out; /* Thêm hiệu ứng trượt */
  transform: translateX(100%); /* Dịch sang trái khi ẩn */
}

#game-container-1 {
  position: relative;
}

#toggle-scoreboard-button {
  position: fixed;
right: 0;
  z-index: 99999;
  cursor: pointer;
  font-size: 20px;
}
.fa-ranking-star {
  border: 3px solid #FFFF00;
  color: #FFFF00;
  font-size: 22px;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  padding: 14px;
  background: #001f3f;
  
}

.background-winter{
  background: url('./images/banner1.png');
}
.background-summer{
  background: url('./images/banner2.png');
}
.background-spring{
  background: url('./images/banner3.png');
}
.game-container-2{
  position: relative;
}
.button--piyo{
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* GAME3 */


/* CSS */
#confirm-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
}



#confirm-button-container button:active {
  transform: scale(0.95);
}
#confirm-button-container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 30px;
 
}
.container-game3{
   background-color: #005995;

  position: relative;
  height: 100vh;
  
}
.main-question-answer3{

  padding-top: 110px;
}
.answers3-main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.answer3{
  background: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: 0.2s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.answer3:active{
  outline: 3px solid rgb(231, 43, 10);
}
.answer3:hover{
  transform: scale(1.05);
}
.answer3 img{
object-fit: contain;
 width: 100%;
 height: 100%;
  
}
#text-to-read{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 70px;
}
#text-content{
  margin-right: 20px;
}

#container-game3 .answer3.selected {
  border: 5px solid #00ff00; /* Màu viền khi chọn */
}

#container-game3 .answer3.correct::after {
  content: '\2714'; /* Dấu tick unicode */
  color: #00ff00;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button--hoo{
  position: absolute;
  right: 10px;
  bottom: 10px;
}


/* END GAME 3 */


/* START GAME4 */
.container-game4{
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    position: relative;
    height: 100vh;
}
#container-game4 .answer3.selectedGame4 {
  border: 5px solid #00ff00; /* Màu viền khi chọn */
}

#container-game4 .answer3.correct::after {
  content: '\2714'; /* Dấu tick unicode */
  color: #00ff00;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button--pen{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* END GAME4 */


/* GAME5 */

.container-game5{
  position: relative;
  height: 100vh;
  background: blanchedalmond;
}
.container {
  width: 97%;
    max-width: 70.5em;

    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}
h3 {
 text-align: center;
    width: 60%;
    margin: 0 auto auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    /* line-height: 1.8em; */
    color: #010c39;
}
.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.draggable-image {
  width: 10em;
    background: white;
    height: 10em;
    margin-right: 10px;
    cursor: move;
  
}
.draggable-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.countries {
  width: 12em;
  height: 12em;
  display: grid;
  place-items: center;
  border: 0.25em dashed #010c39;
  border-radius: 0.8em;
  margin-right: 10px;
}
.dropped {
  padding: 0;
  background-color: white
}
.dropped img{
  width: 12em;
  height: 12em;
  object-fit: contain;
  border-radius: 0.8em;
}
/* .controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #5372ef;
  flex-direction: column;
  top: 0;
} */
.controls-container button {
  font-size: 1.12em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: #010c39;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.controls-container p {
 
  font-size: 2em;
  margin-bottom: 1em;
}
.hide {
  display: none;
}

#quiz-container {
  max-width: 400px;
  margin: 50px auto;
}



.options {
  display: flex;
  justify-content: center;
}

.option {
  margin: 0 10px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.option:hover {
  background-color: #f0f0f0;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
.answer-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-options button{
  background: none;
  margin-right: 20px;
  border: none;
  background: white;
  border-radius: 10px;
}
.answer-options img{
  width: 15em;
  height: 15em;
}
.question-game5{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-80%);
}
.container{
  display: none;
}
/* END GAME5 */

/* START GAME 6 */
.button-nextgame-6{
  position: absolute;
  left: 10px;

}
.background-game6{
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  border-right: 10px solid #bbd4de;
}
.container-game6{
  height: 100vh;
  background: #c9e6ec;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container-drag img{
  width: 9em;
  height: 9em;
}

.row {
  display: flex;
  margin-left: 600px;
}

.image-container {
  width: 150px;
  height: 150px;
  
  position: relative;
}
.image-container-drag {

  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.droppable {
 
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  
}

.droppable img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.message {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.container-read-text{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#text-content-game6{
  margin: 0;
  
}
.container-read-text6{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 15px;
}
.container-read-text6 h5{
  margin-right: 20px;
}
.container-read-text h5{
  margin-right: 20px;
}
.border-bottom-game6 {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, red, blue); /* Thay đổi màu gradient theo nhu cầu */
  border-image-slice: 1; /* Đảm bảo màu gradient hiển thị trên toàn bộ border */
}

/* END GAME 6 */


/* START GAME7 */
.container-game7{
  position: relative;
  height: 100vh;
  background: thistle;
}
.answer-options7{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.answer-options7 button{
  background: none;
  border-radius: 10px;
  background: white;
  border: none;
}
.answer-options7 button img{
  width: 15em;
  height: 15em;
}
/* END GAME7 */


/* START GAME8 */
.container-game8{
  position: relative;
  height: 100vh;
  background: lightsteelblue;
}
.answer-options8{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.answer-options8 button{
  background: none;
  border-radius: 10px;
  background: white;
  border: none;
}
.answer-options8 button img{
  width: 15em;
  height: 15em;
  object-fit: cover;
}
/* END GAME8 */



.noselect {
 
}

.noselect {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
}

.noselect, .noselect span {
	transition: 200ms;
}

.noselect .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.noselect .icon {
	position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.noselect svg {
	width: 15px;
	fill: #eee;
}

.noselect:hover {
	background: #ff3636;
}

.noselect:hover .text {
	color: transparent;
}

.noselect:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.noselect:focus {
	outline: none;
}

/*  */

.noselect2 {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: #ff9900;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);

}

.noselect2, .noselect2 span {
	transition: 200ms;
}

.noselect2 .text {
	transform: translateX(15px);
	color: white;
	font-weight: bold;
}

.noselect2 .icon {
	position: absolute;
    border-left: 1px solid #c6c924;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect2 svg {
	width: 15px;
	fill: #eee;
}

.noselect2:hover {
	background: #cd7b00;
}

.noselect2:hover .text {
	color: transparent;
}

.noselect2:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.noselect2:focus {
	outline: none;
}
/*  */
.noselect1 {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: green;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #2cb41d;
}

.noselect1, .noselect1 span {
	transition: 200ms;
}

.noselect1 .text {
	transform: translateX(15px);
	color: white;
	font-weight: bold;
}

.noselect1 .icon {
	position: absolute;
    border-left: 1px solid #31ce1c;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect1 svg {
	width: 15px;
	fill: #eee;
}

.noselect1:hover {
	background: #34cb23;
}

.noselect1:hover .text {
	color: transparent;
}

.noselect1:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.noselect1:focus {
	outline: none;
}
/*  */
/* START GAME9 */
/* CSS */
.button-55{
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-g9 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  right: 10%;
  bottom: 50%;
}
.btn-g11 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  bottom: 20%;
  left: 60%;

}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.wrapper {
  display: flex;
  column-gap: 400px;
  justify-content: center;
  align-items: center;
  
}

.outfit-item,
.weather-item {
  width: 7em;
  height: 7em;
  cursor: pointer;
  margin-bottom: 15px;
  transition: border-color 0.5s ease;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
}
.wrapper .outfit-item:last-child,
.wrapper .weather-item:last-child {
  margin-bottom: 0;
}
.wrapper .outfit-item:first-child,
.wrapper .weather-item:first-child {
  margin-top: 10px;
}
.outfit-item.clicked,
.weather-item.clicked {
  border: 1px solid #3498db; /* Change the color to your preference */
}

.line {
  position: absolute;
  height: 2px;
  background-color: #d63030;
  transform-origin: left;
  display: none;
  transition: width 0.2s ease-out, opacity 0.1s ease; /* Add transition properties for width and opacity */
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: white;
  border-radius: 10px;
}

.container-outfit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-game9{
  height: 100vh;
  position: relative;
}


/* END GAME9 */


/* START GAME10 */
.container-game10 {
  background: rebeccapurple;
  position: relative;
  height: 100vh;
}

.container-answer-game10 {
  position: relative;
  height: 100vh;
  
}

.container-answer-game10 img {
  border-radius: 50%;
  padding: 20px;
  width: 140px;
  height: 140px;
  object-fit: contain;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
  background: white;
}

.container-answer-game10 img:hover,
.container-answer-game10 img.selected {
  border: 5px solid #e3271d; /* Màu sắc và độ dày của border có thể được điều chỉnh */
}

.container-answer-game10 img:first-child {
  position: absolute;
  top: 7%;
  left: 40%;
}

.container-answer-game10 img:nth-child(2) {
  position: absolute;
  top: 20%;
  left: 25%;
}

.container-answer-game10 img:nth-child(3) {
  position: absolute;
  top: 20%;
  right: 25%;
}

.container-answer-game10 img:nth-child(4) {
  position: absolute;
  top: 40%;
  left: 15%;
}

.container-answer-game10 img:nth-child(5) {
  position: absolute;
  top: 40%;
  right: 15%;
}

.container-answer-game10 img:nth-child(6) {
  position: absolute;
  top: 60%;
  right: 30%;
}

.container-answer-game10 img:nth-child(7) {
  position: absolute;
  bottom: 6%;
  right: 45%;
}

.container-answer-game10 img:nth-child(8) {
  position: absolute;
  bottom: 15%;
  right: 60%;
}

.container-character-game10 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.container-character-game10 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  object-fit: contain;
  background: white;
}
#confirmButtonGame10{
  position: absolute;
  top: 50%;
  right: 7%;
}
/* END GAME 10 */

/* START GAME 11 */


.background-game6{
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  
}
.container-game11{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container-drag img{
  width: 7em;
  height: 7em;
  object-fit: contain;
}

.row {
  display: flex;
  
}

.image-container {
  width: 150px;
  height: 150px;
  
  position: relative;
}
.image-container-drag {

  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.droppable11 {
 
    position: relative;
    width: 85px;
    height: 70px;
    padding: 10px;
    border-radius: 16px;
    background: white;
}

.droppable11 img {
  width: 100%;
  height: auto;
 height: 100%;
  object-fit: contain;
  
}

.message {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.background-game11{
    position: absolute;
    left: 0;
    height: 100%;
}

#draggable-row11{
    margin-left: 600px;
}
.droppable11:first-child{
    position: absolute;
    left: 28px;
    top: 31px;
}
.droppable11:nth-child(2){
    position: absolute;
    left: 27px;
    top: 142px;
}
.droppable11:nth-child(3){
    position: absolute;
    left:86px;
    top: 250px;
}
.droppable11:nth-child(4){
    position: absolute;
    left: 233px;
    top: 250px;
}
.droppable11:nth-child(5){
    position: absolute;
    left: 380px;
    top: 250px;
}
.droppable11:nth-child(6){
    position: absolute;
    left: 424px;
    top: 140px;
}
.droppable11:nth-child(7) {
  position: absolute;
  left: 424px;
  top: 27px;
}
.droppable11:nth-child(8){
    position: absolute;
    left: 28px;
    top: 402px;
}
.droppable11:nth-child(9){
    position: absolute;
    left: 28px;
    top: 516px;
}
.droppable11:nth-child(10){
    position: absolute;
    left: 233px;
    top: 629px;
}
.droppable11:nth-child(11){
    position: absolute;
    left: 85px;
    top: 630px;
}
.droppable11:nth-child(12){
    position: absolute;
    left: 381px;
    top: 630px;
}
.droppable11:nth-child(13){
    position: absolute;
    left: 424px;
    top: 516px;
}
.droppable11:nth-child(14){
    position: absolute;
    left: 424px;
    top: 403px;
}
.droppable11 img {
  display: none;
}

/* END GAME 11 */



/* Add these styles for the Vinh Danh modal content */
.modal-content {
  background-image: url("./images/background-vinhdanh.jpg");
  background-size: contain;
  
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content .container-vinhdanh:nth-child(2){
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.modal-content .container-vinhdanh:nth-child(3){
  position: absolute;
  left: 17%;
  top: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.modal-content .container-vinhdanh:nth-child(4){
  position: absolute;
  right:9%;
  transform: translateX(-50%);
  top: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.modal-content .avatar-vinhdanh {
  border-radius: 50%;

  object-fit: contain;
  background: white;
  padding: 10px;
}
.modal-content div:nth-child(2) .avatar-vinhdanh{
  border: 3px solid #edff00;
}
.modal-content div:nth-child(3) .avatar-vinhdanh{
  border: 3px solid #b9bdae;
}
.modal-content div:nth-child(4) .avatar-vinhdanh{
  border: 3px solid #d1cb0d;
}
/* RANKKKKKKKKKKKK */
.top-icon img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  
}
.modal-content .top-player img {
  position: absolute;
  bottom: 5%;
  height: 44px;
  border-radius: 50%;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
}

.modal-content .second-player img {
  position: absolute;
  bottom: 5%;
  height: 44px;
  border-radius: 50%;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
}
.modal-content .third-player img {
  position: absolute;
  bottom: 5%;
  height: 44px;
  border-radius: 50%;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
}

.modal-content .top-player .top-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #f39c12; /* Orange border for top 1 icon */
  border-radius: 50%;
}

.modal-content .second-player .top-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #27ae60; /* Green border for top 2 icon */
  border-radius: 50%;
}

.modal-content .third-player .top-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e74c3c; /* Red border for top 3 icon */
  border-radius: 50%;
}


.container-diem-ten-vinhdanh {
  background: #2a9dea;
    text-align: center;
    border: 3px solid #0b7e98;
    padding: 9px 0px;
    top: -65%;
    position: absolute;
    border-radius: 10px;
  width: 200px;
}

.player-name{
  color: white;
  font-size: 16px;
}

/* RANKKKKKKKKKK */

.modal-content .top-player {
  font-weight: bold;
  color: #f39c12; /* Orange for top 1 */
}

.modal-content .second-player {
  font-weight: bold;
  color: #27ae60; /* Green for top 2 */
}

.modal-content .third-player {
  font-weight: bold;
  color: #e74c3c; /* Red for top 3 */
}

/* Style for player details */
.modal-content .player-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal-content .player-details span {
  margin-right: 10px;
}

.modal-content .player-score {
  font-size: 14px;
  color: rgb(255, 219, 14);
  font-weight: bold;
}
